<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{{ include('_navbar.html.twig') }}
		<div class="container-lg">
			<div data-turbo="false" class="my-3" data-controller="alert" data-alert-target="container">
				{% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible" role="alert">
							<div>{{ message }}</div>
							<button type="button" data-action="click->alert#remove" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>

			{% block body %}{% endblock %}

		</div>
		{{ include('_footer.html.twig') }}
	</body>
</html>
