{% extends 'base.html.twig' %}

{% block title %}All Posts
{% endblock %}

{% block body %}
	<table class="table border align-middle mb-0 bg-white w-100 my-5">
		<thead class="bg-light">
			<tr>
				<th>Title</th>
				<th>Topic</th>
				<th>Created by</th>
				<th>More</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>
						<p class="fw-normal mb-1">{{ post.title }}</p>
					</td>
					<td>
						{% if post.topic == 'Life' %}
							<span class="badge rounded-pill text-bg-info d-inline">{{ post.topic }}</span>
						{% endif %}
						{% if post.topic == 'Software Engineering' %}
							<span class="badge rounded-pill text-bg-danger d-inline">{{ post.topic }}</span>
						{% endif %}
						{% if post.topic == 'Pets' %}
							<span class="badge rounded-pill text-bg-success d-inline">{{ post.topic }}</span>
						{% endif %}
						{% if post.topic == 'Space' %}
							<span class="badge rounded-pill text-bg-primary d-inline">{{ post.topic }}</span>
						{% endif %}
						{% if post.topic == 'Funny' %}
							<span class="badge rounded-pill text-bg-warning d-inline">{{ post.topic }}</span>
						{% endif %}
						{% if post.topic == 'Misc' %}
							<span class="badge rounded-pill text-bg-secondary d-inline">{{ post.topic }}</span>
						{% endif %}
					</td>
					<td>
						<div class="d-flex align-items-center">
							<img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
							<div class="ms-3">
								<p class="fw-bold mb-1">John Doe</p>
								<p class="text-muted mb-0">{{ post.author.email }}</p>

							</div>
						</div>
					</td>
					<td>
						<a href="{{ path('app_post_show', {'id': post.id }) }}" class="btn btn-outline-info btn-sm btn-rounded me-2" style="width: 5rem;">
							Details
						</a>
						<a href="{{ path('app_post_edit', {'id': post.id }) }}" class="btn btn-outline-warning btn-sm btn-rounded me-2" style="width: 5rem;">
							Edit
						</a>
					</td>
					<td>
						<a href="{{ path('app_post_comment', {'id': post.id }) }}" class="btn btn-sm btn-rounded btn-outline-primary position-relative">
							Comment
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
								{{ post.comments.count }}
								<span class="visually-hidden">Comments</span>
							</span>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
