{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

	<div class="d-flex flex-column align-items-center">
		<div class="card my-5" style="width: 35rem;">
			<div class="card-header d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center">
					<img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
					<div class="ms-3">
						<p class="fw-bold mb-1">John Doe</p>
						<p class="text-muted mb-0">john.doe@gmail.com</p>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewbox="0 0 16 16">
								<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
							</svg>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_post_comment', {'id': post.id }) }}">Add Comment</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">User Profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Report</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="my-2">
				<div class="card-body">
					<h5 class="card-title pb-3 border-bottom">{{ post.title }}</h5>
					<p class="card-text pt-3">{{ post.text }}</p>
				</div>
			</div>

			<div class="card-footer text-body-secondary">
				<div class="d-flex align-items-center card-text fs-6 text-muted pb-2">
					<div>
						{{ post.created|date("H:i j F Y") }}
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-dot" viewbox="0 0 16 16">
						<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
					</svg>
					<div>
						<span class="fw-bold">765</span>
						Views</div>
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-dot" viewbox="0 0 16 16">
						<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
					</svg>
					<div>
						<span class="fw-bold">25</span>
						Likes</div>
				</div>
				<div class="d-flex justify-content-between pt-2">
					<a href="" class="btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
						</svg>
					</a>
					<a href="{{ path('app_post_comment', {'id': post.id }) }}" class="btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewbox="0 0 16 16">
							<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
						</svg>
					</a>
					<div class="btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewbox="0 0 16 16">
							<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
						</svg>
					</div>
					<div class="btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewbox="0 0 16 16">
							<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
						</svg>
					</div>
					<a href="{{ path('app_post') }}" class="btn">

						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="mt-5 mb-2 ps-2" style="width: 35rem;">
			<h4>Comments</h4>
		</div>

		<div class="mb-5" style="width: 35rem;">
			{{ include('comment/timeline.html.twig') }}
		</div>
	</div>
{% endblock %}
